{% extends "layout.html" %}

{% block body %}

<div class="container">

<h3><i class="glyphicon glyphicon-lock"></i> Login</h3>
<form action="/login" method="post">
<input type="text" name="username" class="form-control" placeholder="Username" />
<input type="password" name="password" class="form-control" placeholder="Password" />
<input type="submit" name="submit" class="btn btn-success" value="Login" />
Or <a href="/register">Register</a>
<input type="hidden" name="next" value="{{ next or '' }}" />
</form>

</div>


{% endblock %}
