{% extends "layout.html" %}

{% block body %}

<div class="container">

<h3><i class="glyphicon glyphicon-ok-circle"></i> Register</h3>
<form action="/register" method="post">
<input type="text" name="first_name" class="form-control" placeholder="First Name" />
<input type="text" name="last_name" class="form-control" placeholder="Last Name" />
<input type="text" name="username" class="form-control" placeholder="Username" />
<input type="password" name="password" class="form-control" placeholder="Password" />
<input type="submit" name="submit" class="btn btn-success" value="Register" />
</form>

</div>


{% endblock %}
